services:
  backend:
    build: .
    command: uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0




  celery_worker:
    build: .
    command: uv run celery -A app.celery_app worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis

    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0


  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
